h1 {
  margin: 30px 0px 0px 0px;

   /* like a clock for deciding margins top right bottom left */
}

h1 a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;


}


h2 {
  font-size: 42px;
  margin: 10px 0px 30px 0px;
}

h2 a {
  color: #fff;
  text-decoration: none;
}

img {
  position: absolute;
  top: 60px;
  left: 90px;
  z-index: -1;
}


.container > div {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2em;
    color: #ffffff;
}

div a {
  margin-top: 30px;
  text-decoration: none;
  color: #fff;
}


html {
  background-color: #f78ae5;
  margin: 10px;
}

h3 {
  display:inline-block;
  color: #ffffff;
  margin-right: 20px;
}
nav h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

nav a {
  color: #fff;
  text-decoration: none;

}

header {
  text-decoration:none;
}

nav a:hover {
  font-size: 36px;
  line-height: 22px;
}

nav .currentpage {
  font-style: italic;
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display: block;
}

/*.container > div:nth-child(1n) {
  background-color: #f78ae5;
}

.container > div:nth-child(3n) {
  background-color: #f78ae5;
}

.container > div:nth-child(2n) {
      background-color: #f78ae5;
}

.container > div:nth-child(4n) {
      background-color: #f78ae5;
}
*/

.img2 {
  position: absolute;
  height: auto;
  width: 20%;
  top: 300px;
  left: 40px;
  right: 20px;
  z-index: -1;
}

.img3 {
  position: absolute;
  height: auto;
  width: 30%;
  top: 200px;
  left: -100px;
  right: 10px;
  z-index: -1;
}

.img4 {
  position: absolute;
  height: auto;
  width: 20%;
  top: 600px;
  left: 40px;
  z-index: -1;

}

.img5 {
  position: absolute;
  height: auto;
  width: 20%;
  top: 900px;
  left: 40px;
  z-index: -1;

}

.img6 {
  position: absolute;
  width: 20%;
  height: auto;
  top: 1200px;
  left: 40px;
  z-index: -1;
  .responsive
}

.img7 {display: block;}

@media only screen and (max-width: 1164px) {
 img {
 max-width: 100%;
 height: auto;
 position: absolute;
 top: 65px;
 left: 40px;
 z-index: -1;
}

img2 {
  width:50%;
  height:auto;
}



 @media only screen and (max-width: 1040px) {
  img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 70px;
  left: 40px;
  z-index: -1;
}

@media only screen and (max-width: 1028px) {
 img {
 max-width: 100%;
 height: auto;
 position: absolute;
 top: 70px;
 left: 9px;
 z-index: -1;
}

@media only screen and (max-width: 845px) {
  .container > div {
      display: flex;
      justify-content: left;
      align-items: left;
      font-size: 35px;
      color: #ffffff;
  }

h2  {
    font-size: 4vw;
  }

@media only screen and (max-width: 744px) {
    .container > div {
        display: flex;
        justify-content: left;
        align-items: left;
        font-size: 4vw;
        color: #ffffff;
        margin-bottom: 50px;
    }

    .box2 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-row-gap: 10px;
    }

    .box4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 7;
        margin-top: 4vw;
        margin-right: 0px;

    }
  h2  {
      font-size: 4vw;
      margin-top: 50px;
    }

@media only screen and (max-width: 744px) {
        .container > div {
            display: flex;
            justify-content: left;
            align-items: left;
            font-size: 4vw;
            color: #ffffff;
}
          h2 {
            margin-top: 100px;
          }

@media only screen and (max-width: 650px) {}

            .container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-auto-rows: 100px;
            }

            h2 {
              margin-top: 130px;
            }

            img {
              margin-top: 20px;
            }

            nav {
              font-size: 3vw;
            }
}

@media only screen and (max-width: 451px) {}

            .container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-auto-rows: 20px;
            }

            h2 {
              margin-top: 100px;
            }

            img {
              margin-top: 60px;
            }
}
/* @media only screen and (max-width: 700px) {
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 4vw;
    margin-right: 4vw;
    margin-top: 0px;
  }
  img {
  max-width: 100%;
  height: auto;
}
}

/* @media only screen and (max-width: 479px) {
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
  }

}
